@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}
h1{
    font-size: 32px;
    top: 100px;
    width: 100%;
    text-align: center;
    position: relative;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    animation-name:             rotate; 
    animation-duration:         5s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear;
}
@media all and (min-height: 700px){
    h1{
        top: 350px;
    }
}
@media all and (max-height: 200px){
    h1{
        top: 10px;
    }
}